/*
kvuicons, v2.0.0
Created by khari for the iconFont,
*/
// kvuicons Variables
// --------------------------

$kvuicons-font-path: "#/style/common/iconfont/fonts";
$kvuicons-font-url-path:'http://v1.iviewui.com';
$kvuicons-font-family: "kvuicons";
$kvuicons-version: "3.0.1";
$kvuicons-prefix: kvu-icon-;
